.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.cardGrid {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: blue;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
}

/* Estilos para desktop (PC) */
@media (min-width: 1025px) {
    .navbar ul {
        flex-direction: row; 
        gap: 20px; 
        justify-content: flex-start; 
        align-items: center; 
    }
}

/* Estilos para tablet */
@media (max-width: 1024px) and (min-width: 769px) {
    .navbar ul {
        flex-direction: column; 
    }
    .navbar ul li:nth-child(1) { order: 3; } 
    .navbar ul li:nth-child(2) { order: 2; } 
    .navbar ul li:nth-child(3) { order: 1; } 
    .navbar ul li:nth-child(4) { order: 4; } 
}

/* Estilos para móvil */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column; 
    }
    .navbar ul li:nth-child(1) { order: 4; } 
    .navbar ul li:nth-child(2) { order: 2; } 
    .navbar ul li:nth-child(3) { order: 3; } 
    .navbar ul li:nth-child(4) { order: 1; } 
 

}